sudo: false
language: java
services:
- docker
cache:
  directories:
  - "$HOME/.cache"
deploy:
  provider: script
  #script: "cp .travis.settings.xml $HOME/.m2/settings.xml && mvn deploy"
  script: "mvn clean install"
  skip_cleanup: true
  on:
    tags: false 
